header {
    background: url("picture.JPG");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bigger {
    font-size: 150%;
    font-style: italic;
}

hr {
    width: 65%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

li a.one {
    color: #ffffff;
    background-color: #1e8100;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

li a.one:hover {
    background-color: rgb(21, 255, 0);
    color: #000000;
    border-radius: 3px;
    transition-duration: 500ms;
}


li a{
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover{
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    transition-duration: 500ms;
}

#container {
    display: flex;
    /*background-color: black;*/
    height: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
}

#intro {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#question {
    font-size: larger;
    font-weight: bold;
}

#example-area {
    width: auto;
    max-width: 500px;
    height: auto;
    /*margin: 0 auto;*/
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#answer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font: bold;
    margin: 10px;
}


#title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-bottom: 0%;
}


#guess {
    width: auto;
    max-width: 500px;
    height: auto;
    /*margin: 0 auto;*/
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#letter {
    width: auto;
    height: auto;
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.guessrow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    border: 2px solid lightgray;
    width: 32px;
    height: 32px;
    margin: 2px;

    color: black;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tilecorrect {
    border: 2px solid lightgray;
    width: 32px;
    height: 32px;
    margin: 2px;
    background-color: #3e8e41;

    color: black;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tilewrong {
    border: 2px solid lightgray;
    width: 32px;
    height: 32px;
    margin: 2px;
    background-color: #ff0000;

    color: black;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tileflip {
    animation: 0.7s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.tileshake {
    animation: 0.3s horizontal-shaking;
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

#FGbutton {
    font-family: 'Lucida Sans', 'Lucida Sans Bold', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    padding: 10;
    border-radius: 3px;
    justify-content: center;
    height: 58px;
    width: 100%;
    cursor: pointer;
    background-color: rgb(62, 62, 65);
    color: rgb(239, 241, 243);
    text-transform: uppercase;
    user-select: none;
    align-items: center;
    transition-duration: 0.4s;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: column;
}

#FGbutton.win {
    background-color: #3e8e41;
}

#FGbutton.zone {
    background-color: rgb(59, 122, 180);
}

#FGbutton.lose {
    background-color: #ff0000;
}


#keyboard-container {
    max-height: 200px;
    height: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 45px;
    cursor: pointer;
    background-color: #5c594b;
    color: rgb(215, 218, 220);
    flex-grow: 0.5;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}


.keyboard-row button.absent {
    background-color: rgb(129, 131, 132);

}

.keyboard-row button.correct {
    background-color: #3e8e41;
}


.scoreshare {
    color: #ffffff;
    background-color: #1e8100;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
}

.scoreshare:hover {
    background-color: rgb(16, 189, 0);
    color: #000000;
    transition-duration: 500ms;
    font-size: 20px;
}

.levelselect {
    width: 80px;
    height: 30px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.levelbutton {
    color: #ffffff;
    background-color: #1e8100;
    text-decoration: none;
    position: relative;
    left: 5px;
    border-radius: 3px;
    padding: 3px 5px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
}


.animate-text {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-text-start {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}