header {
    background: url("picture.JPG");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bigger {
    font-size: 150%;
    font-style: italic;
}

hr {
    width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    transition-duration: 500ms;
}

#container {
    display: flex;
    /*background-color: black;*/
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#intro {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#example-area {
    width: auto;
    height: auto;
    /*margin: 0 auto;*/
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game {
    width: 100%;
    max-width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#guess {
    width: auto;
    height: auto;
    /*margin: 0 auto;*/
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#letter {
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guessrow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    border: 2px solid lightgray;
    width: 50px;
    height: 50px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tilecorrect {
    border: 2px solid lightgray;
    width: 50px;
    height: 50px;
    margin: 2.5px;
    background-color: #3e8e41;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tilewrong {
    border: 2px solid lightgray;
    width: 50px;
    height: 50px;
    margin: 2.5px;
    background-color: #ff0000;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}



#FGbutton {
    font-family: 'Lucida Sans', 'Lucida Sans Bold', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    padding: 10;
    height: 58px;
    width: 500px;
    cursor: pointer;
    background-color: rgb(62, 62, 65);
    color: rgb(239, 241, 243);
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 3px;
    user-select: none;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#FGbutton.win {
    background-color: #3e8e41;
}

#FGbutton.zone {
    background-color: rgb(59, 122, 180);
}

#FGbutton.lose {
    background-color: #ff0000;
}


#keyboard-container {
    height: 200px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #5c594b;
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}


.keyboard-row button.absent {
    background-color: rgb(129, 131, 132);

}

.keyboard-row button.correct {
    background-color: #3e8e41;
}